<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-md="35" fxFlex.md="45">
        
        <mat-card class="product-image">
            <button mat-icon-button (click)="openZoomViewer()" fxHide="false" fxHide.gt-md><mat-icon>fullscreen</mat-icon></button>
            <img *ngIf="image" [src]="image" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)"/>
        </mat-card>       

        <div class="small-carousel"> 
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper"> 
                    <div *ngFor="let image of product?.images" class="swiper-slide">
                        <mat-card (click)="selectImage(image)" class="p-1">
                            <img [attr.data-src]="apiUrl+image.url" class="swiper-lazy"/>
                            <div class="swiper-lazy-preloader"></div>
                        </mat-card>
                    </div>                    
                </div>
                <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
            </div>
        </div>


    </div>
    <div fxFlex="100" fxFlex.gt-md="45" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">
        
        <div #zoomViewer fxShow="false" fxShow.gt-md>
            <mat-card *ngIf="zoomImage" class="zoom-viewer mat-elevation-z18" [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}"></mat-card>
        </div>

        <h2>{{product?.name}}</h2>
        <div class="py-1 lh">
            <p><span class="text-muted fw-500">Category: </span><span>{{ ( appService.Data.categories | filterById : product?.categoryId )?.name }}</span></p>
            <p><span class="text-muted fw-500">Availability: </span><span>{{ (product?.availibilityCount > 0) ? 'In stock':'Unavailable'}}</span></p>
            <p *ngIf="product?.weight"><span class="text-muted fw-500" >Weight: </span><span>{{ product?.weight}} Kg</span></p>
        </div>
        <!--<div class="py-1">-->
            <!--<app-rating [ratingsCount]="product?.ratingsCount" [ratingsValue]="product?.ratingsValue" [direction]="'row'"></app-rating>-->
        <!--</div>-->
        <p class="py-1 text-muted lh">{{product?.description}}</p>

        <div class="divider mt-1"></div>
        <h2 class="py-2 new-price">${{product?.newPrice}}</h2>

        <!--<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="details text-muted py-1">-->
            <!--<div *ngIf="product?.colors && product?.colors?.length > 0" class="color">-->
                <!--<span class="fw-500">Select Color:</span>-->
                <!--<mat-button-toggle-group #group="matButtonToggleGroup">-->
                <!--<mat-button-toggle *ngFor="let color of product?.colors" [style.background]="color.name">&nbsp;</mat-button-toggle>-->
                <!--</mat-button-toggle-group>-->
            <!--</div>-->
            <!--<div *ngIf="product?.sizes && product?.sizes?.length > 0" class="size" ngClass.xs="mt-1">-->
                <!--<span class="fw-500">Select Size:</span>-->
                <!--<mat-button-toggle-group #group="matButtonToggleGroup">-->
                <!--<mat-button-toggle *ngFor="let size of product?.sizes" [value]="size">{{size.name}}</mat-button-toggle>-->
                <!--</mat-button-toggle-group>-->
            <!--</div>-->
        <!--</div>-->

        <div class="py-1">
            <app-controls [product]="product" [type]="'all'"></app-controls> 
        </div>

        <div class="divider"></div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted py-1">
            <button mat-button><mat-icon>mail_outline</mat-icon> Email to a Friend</button>
            <button mat-icon-button><mat-icon>share</mat-icon></button>
        </div>

    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxHide fxShow.gt-md> 

        <div fxLayout="row wrap" class="info-bar" ngClass.gt-md="m-0">
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50">
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <mat-icon class="mat-icon-xlg text-muted m-0">card_giftcard</mat-icon>
                    <div class="content">
                        <p>BONUS PLUS</p> 
                        <span class="text-muted m-0">Make fun of shopping and collect bonuses</span>
                    </div> 
                </mat-card> 
            </div>
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16"> 
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <mat-icon class="mat-icon-xlg text-muted m-0">local_shipping</mat-icon>
                    <div class="content">
                        <p>FREE SHIPPING</p> 
                        <span class="text-muted m-0">Free shipping on all orders over $99</span>
                    </div> 
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.md="25"fxFlex.sm="50" class="mt-16"> 
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <mat-icon class="mat-icon-xlg text-muted m-0">monetization_on</mat-icon>
                    <div class="content">
                        <p>MONEY BACK GUARANTEE</p> 
                        <span class="text-muted m-0">30 Days money return guarantee</span>
                    </div> 
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.md="25" fxFlex.sm="50" class="mt-16"> 
                <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                    <mat-icon class="mat-icon-xlg text-muted m-0">history</mat-icon>
                    <div class="content">
                        <p>ONLINE SUPPORT 24/7</p> 
                        <span class="text-muted m-0">Call us: +961 3 842506</span>
                    </div> 
                </mat-card>
            </div>
        </div>

    </div>
</div>

<div class="py-2 mt-2">
    <h2>Related Products</h2>
    <div class="divider"></div>
    <app-products-carousel [products]="relatedProducts"></app-products-carousel>
</div>