<mat-card>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" fxFlexOffset="25">
      <h2 class="text-muted text-center">Forgot Password?</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordFormSubmit(forgotPasswordForm.value)">
        <mat-form-field class="text-center w-100 mt-3">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="forgotPasswordForm.controls.email.errors?.required">Email is required</mat-error>
          <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
        </mat-form-field>
        <div class="text-right py-2">
          <p class="mt-1"><a class="link primary-text" routerLink="/sign-in">Back to Sign In</a></p>
        </div>
        <div class="text-center mt-2">
          <button type="button" [disabled]="forgotPasswordForm.invalid || !enabled" mat-raised-button color="primary" class="mat-elevation-z6" (click)="onForgotPasswordFormSubmit(forgotPasswordForm.value)">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-card>