<mat-horizontal-stepper *ngIf="billingForm && billingForm.controls" #horizontalStepper linear="true"
                        class="mat-elevation-z2" fxShow="false" fxShow.gt-sm>
  <mat-step [stepControl]="billingForm" label="Billing address">
      <form [formGroup]="billingForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="First name" formControlName="firstName" required>
              <mat-error *ngIf="billingForm.controls.firstName.errors?.required">First name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Last name" formControlName="lastName" required>
              <mat-error *ngIf="billingForm.controls.lastName.errors?.required">Last name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Middle Name/Initial" formControlName="middleName">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Phone" formControlName="phone" required>
              <mat-error *ngIf="billingForm.controls.phone.errors?.required">Phone is required</mat-error>
          </mat-form-field>
        </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
              <mat-form-field class="w-100">
                  <mat-select placeholder="Country" formControlName="country" required>
                      <mat-option *ngFor="let country of countries" [value]="country">
                          {{country.name}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="billingForm.controls.country.errors?.required">Country is required</mat-error>
              </mat-form-field>
          </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="City" formControlName="city" required>
              <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="State/Province" formControlName="state">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Zip/Postal Code" formControlName="zip" required>
              <mat-error *ngIf="billingForm.controls.zip.errors?.required">Zip/Postal Code is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Address (street, apartment, suite, unit etc.)" formControlName="address" required>
              <mat-error *ngIf="billingForm.controls.address.errors?.required">Address is required</mat-error>
          </mat-form-field>
        </div>
      </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="deliveryForm" label="Delivery method">
    <form [formGroup]="deliveryForm" class="p-2">
      <mat-radio-group formControlName="deliveryMethod" fxLayout="column" fxLayoutAlign="center" required name="methods">
          <mat-radio-button *ngFor="let method of deliveryMethods" (change)="onDeliveryMethodSelected($event)"
                            color="primary" [value]="method" class="mt-1"><b>{{method.name}}</b> {{method.desc}}
          </mat-radio-button>
      </mat-radio-group>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step>
    <mat-step *ngIf="false" [stepControl]="paymentForm" label="Payment method">
    <form [formGroup]="paymentForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted">Credit Card</span>
          <img src="assets/images/others/card-icon.png" alt="">
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Card holder name" formControlName="cardHolderName" required>
              <mat-error *ngIf="paymentForm.controls.cardHolderName.errors?.required">Card holder name name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Card number" formControlName="cardNumber" required>
              <mat-error *ngIf="paymentForm.controls.cardNumber.errors?.required">Card number is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expired month" formControlName="expiredMonth" required>
              <mat-option *ngFor="let month of months" [value]="month.value">
                  {{month.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredMonth.errors?.required">Expired month is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expired year" formControlName="expiredYear" required>
              <mat-option *ngFor="let year of years" [value]="year">
                  {{year}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredYear.errors?.required">Expired year is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="CVV" formControlName="cvv" required>
              <mat-error *ngIf="paymentForm.controls.cvv.errors?.required">CVV is required</mat-error>
          </mat-form-field>
        </div>
      </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
            <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after">
                <mat-icon>navigate_next</mat-icon>
            </button>
      </div>
    </form>
  </mat-step>
    <mat-step label="Review Order">
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted">Shopping Cart</h3>
        <div class="divider"></div>
        <div class="mat-table review-order-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">Product</div>
            <div class="mat-header-cell">Name</div>
              <div class="mat-header-cell">Unit Price</div>
            <div class="mat-header-cell">Quantity</div>
              <div class="mat-header-cell">Color</div>
              <div class="mat-header-cell text-center"></div>
            <div class="mat-header-cell">Total</div>
          </div>
            <ng-container *ngIf="cart && cart.orderItems && cart.orderItems.length > 0">
                <div *ngFor="let orderItem of cart.orderItems" class="mat-row">
                    <div class="mat-cell"><img [src]="apiUrl + orderItem.image"></div>
                    <div class="mat-cell">{{orderItem.product.name}}</div>
                    <div class="mat-cell">${{orderItem.product.newPrice | number : '1.2-2'}}</div>
                    <div class="mat-cell text-muted">{{orderItem.quantity}}</div>
                    <div class="mat-cell">
                        <mat-icon [style.background]="orderItem.color?.name"></mat-icon>
                    </div>
                    <div class="mat-cell">{{orderItem.size?.name || '-'}}</div>
                    <div class="mat-cell">${{orderItem.product.newPrice * orderItem.quantity | number : '1.2-2'}}</div>
          </div>
            </ng-container>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
          <h3 class="text-muted mt-2">Shipping information</h3>
        <div class="divider"></div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Name:</p>
        <p>{{billingForm.controls.firstName.value}} {{billingForm.controls.lastName.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Phone:</p>
        <p>{{billingForm.controls.phone.value}}</p>
      </div>
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
            <p class="text-muted">Country:</p>
            <p>{{billingForm.controls.country.value['name']}}</p>
        </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">City:</p>
        <p>{{billingForm.controls.city.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">State:</p>
        <p>{{billingForm.controls.state.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Zip/PostalCode:</p>
        <p>{{billingForm.controls.zip.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Address:</p>
        <p>{{billingForm.controls.address.value}}</p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Delivery information</h3>
        <div class="divider"></div>
        <p class="py-1">{{deliveryForm.controls.deliveryMethod.value['name']}} <span class="text-muted">{{deliveryForm.controls.deliveryMethod.value['desc']}}</span></p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Payment information</h3>
        <div class="divider"></div>
          <p class="py-1"><span class="text-muted mr-1">Cash on Delivery</span></p>
      </div>
    </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="p-1">
            <h2><span class="text-muted mr-1">Total Price:</span><span *ngIf="deliveryMethod && grandTotal">${{grandTotal + deliveryMethod.price | number : '1.2-2'}}</span>
            </h2>
    </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>navigate_before</mat-icon></button>
            <button mat-raised-button color="primary" type="button" [disabled]="disablePlaceOrderBtn"
                    (click)="placeOrder()">Place order now
            </button>
        </div>
  </mat-step>
    <mat-step label="Confirmation">
        <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center" *ngIf="orderSuccessful">
      <button mat-fab color="primary"><mat-icon>check</mat-icon></button>
          <h2 class="py-2">Congratulations! Your order has been processed</h2>
            <p class="text-muted">You should get a confirmation email of your order. Also, you can check your orders <a
                    [routerLink]="['/account/orders']">here</a></p></div>
        <div fxLayout="column" *ngIf="!orderSuccessful" fxLayoutAlign="center center" class="p-2 text-center">
            <button mat-fab color="primary">
                <mat-icon>error</mat-icon>
            </button>
            <h2 class="py-2">There was a problem processing your order</h2>
            <p class="text-muted">Please contact system administration by clicking on the button below, or try to <a
                    [routerLink]="['/cart']">checkout again</a></p>
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
                <a [routerLink]="['/contact']" mat-raised-button color="primary">Contact us</a>
            </div>
        </div>
        <div fxLayout="row" *ngIf="orderSuccessful" fxLayoutAlign="center center" class="mt-2 p-1">
          <a [routerLink]="['/']" mat-raised-button color="primary">Return to Shop</a>
    </div>

  </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper #verticalStepper linear="true" class="mat-elevation-z2" fxHide="false"
                      *ngIf="billingForm && billingForm.controls" fxHide.gt-sm>
  <mat-step [stepControl]="billingForm" label="Billing address">
      <form [formGroup]="billingForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="First name" formControlName="firstName" required>
              <mat-error *ngIf="billingForm.controls.firstName.errors?.required">First name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Last name" formControlName="lastName" required>
              <mat-error *ngIf="billingForm.controls.lastName.errors?.required">Last name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Middle Name/Initial" formControlName="middleName">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Phone" formControlName="phone" required>
              <mat-error *ngIf="billingForm.controls.phone.errors?.required">Phone is required</mat-error>
          </mat-form-field>
        </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
              <mat-form-field class="w-100">
                  <mat-select placeholder="Country" formControlName="country" required>
                      <mat-option *ngFor="let country of countries" [value]="country">
                          {{country.name}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="billingForm.controls.country.errors?.required">Country is required</mat-error>
              </mat-form-field>
          </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="City" formControlName="city" required>
              <mat-error *ngIf="billingForm.controls.city.errors?.required">City is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="State/Province" formControlName="state">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Zip/Postal Code" formControlName="zip" required>
              <mat-error *ngIf="billingForm.controls.zip.errors?.required">Zip/Postal Code is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Address (street, apartment, suite, unit etc.)" formControlName="address" required>
              <mat-error *ngIf="billingForm.controls.address.errors?.required">Address is required</mat-error>
          </mat-form-field>
        </div>
      </div>
          <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>expand_more</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="deliveryForm" label="Delivery method">
    <form [formGroup]="deliveryForm" class="p-2">
      <mat-radio-group formControlName="deliveryMethod" fxLayout="column" fxLayoutAlign="center" required name="methods">
        <mat-radio-button *ngFor="let method of deliveryMethods" color="primary" [value]="method" class="mt-1"><b>{{method.name}}</b> {{method.desc}}</mat-radio-button>
      </mat-radio-group>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>expand_less</mat-icon></button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after"><mat-icon>expand_more</mat-icon></button>
      </div>
    </form>
  </mat-step>
    <mat-step [stepControl]="paymentForm" *ngIf="false" label="Payment method">
    <form [formGroup]="paymentForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted">Credit Card</span>
          <img src="assets/images/others/card-icon.png" alt="">
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Card holder name" formControlName="cardHolderName" required>
              <mat-error *ngIf="paymentForm.controls.cardHolderName.errors?.required">Card holder name name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="Card number" formControlName="cardNumber" required>
              <mat-error *ngIf="paymentForm.controls.cardNumber.errors?.required">Card number is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expired month" formControlName="expiredMonth" required>
              <mat-option *ngFor="let month of months" [value]="month.value">
                  {{month.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredMonth.errors?.required">Expired month is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
            <mat-select placeholder="Expired year" formControlName="expiredYear" required>
              <mat-option *ngFor="let year of years" [value]="year">
                  {{year}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.controls.expiredYear.errors?.required">Expired year is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
          <mat-form-field class="w-100">
              <input matInput placeholder="CVV" formControlName="cvv" required>
              <mat-error *ngIf="paymentForm.controls.cvv.errors?.required">CVV is required</mat-error>
          </mat-form-field>
        </div>
      </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>expand_less</mat-icon></button>
            <button mat-mini-fab matStepperNext color="primary" matTooltip="Next" matTooltipPosition="after">
                <mat-icon>expand_more</mat-icon>
            </button>
      </div>
    </form>
  </mat-step>
    <mat-step label="Review Order">
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted">Shopping Cart</h3>
        <div class="divider"></div>
        <div class="mat-table review-order-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">Product</div>
            <div class="mat-header-cell">Name</div>
              <div class="mat-header-cell">Unit Price</div>
            <div class="mat-header-cell">Quantity</div>
              <div class="mat-header-cell">Color</div>
              <div class="mat-header-cell text-center"></div>
            <div class="mat-header-cell">Total</div>
          </div>
            <ng-container *ngIf="cart && cart.orderItems && cart.orderItems.length > 0">
                <div *ngFor="let orderItem of cart.orderItems" class="mat-row">
                    <div class="mat-cell"><img [src]="apiUrl + orderItem.image"></div>
                    <div class="mat-cell">{{orderItem.product.name}}</div>
                    <div class="mat-cell">${{orderItem.product.newPrice | number : '1.2-2'}}</div>
                    <div class="mat-cell text-muted">{{orderItem.quantity}}</div>
                    <div class="mat-cell">
                        <mat-icon [style.background]="orderItem.color?.name"></mat-icon>
                    </div>
                    <div class="mat-cell">{{orderItem.size?.name || '-'}}</div>
                    <div class="mat-cell">${{orderItem.product.newPrice * orderItem.quantity | number : '1.2-2'}}</div>
                </div>
            </ng-container>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
          <h3 class="text-muted mt-2">Shipping information</h3>
        <div class="divider"></div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Name:</p>
        <p>{{billingForm.controls.firstName.value}} {{billingForm.controls.lastName.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Phone:</p>
        <p>{{billingForm.controls.phone.value}}</p>
      </div>
        <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
            <p class="text-muted">Country:</p>
            <p>{{billingForm.controls.country.value['name']}}</p>
        </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">City:</p>
        <p>{{billingForm.controls.city.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">State:</p>
        <p>{{billingForm.controls.state.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Zip/PostalCode:</p>
        <p>{{billingForm.controls.zip.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Address:</p>
        <p>{{billingForm.controls.address.value}}</p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Delivery information</h3>
        <div class="divider"></div>
        <p class="py-1">{{deliveryForm.controls.deliveryMethod.value['name']}} <span class="text-muted">{{deliveryForm.controls.deliveryMethod.value['desc']}}</span></p>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Payment information</h3>
        <div class="divider"></div>
          <p class="py-1"><span class="text-muted mr-1">Cash on Delivery</span></p>
      </div>
    </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="p-1">
            <h2><span class="text-muted mr-1">Total Price:</span><span *ngIf="deliveryMethod && grandTotal">${{grandTotal + deliveryMethod.price | number : '1.2-2'}}</span>
            </h2>
    </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Back" matTooltipPosition="before" class="mr-1"><mat-icon>expand_less</mat-icon></button>
            <button mat-raised-button color="primary" type="button" [disabled]="disablePlaceOrderBtn"
                    (click)="placeOrder()">Place order now
            </button>
        </div>
  </mat-step>
    <mat-step label="Confirmation">
        <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center" *ngIf="orderSuccessful">
            <button mat-fab color="primary">
                <mat-icon>check</mat-icon>
            </button>
            <h2 class="py-2">Congratulations! Your order has been processed</h2>
            <p class="text-muted">You should get a confirmation email of your order. Also, you can check your orders <a
                    [routerLink]="['/account/orders']">here</a></p>
        </div>
        <div fxLayout="column" *ngIf="!orderSuccessful" fxLayoutAlign="center center" class="p-2 text-center">
            <button mat-fab color="primary">
                <mat-icon>error</mat-icon>
            </button>
            <h2 class="py-2">There was a problem processing your order</h2>
            <p class="text-muted">Please contact system administration by clicking on the button below, or try to <a
                    [routerLink]="['/cart']">checkout again</a></p>
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
                <a [routerLink]="['/contact']" mat-raised-button color="primary">Contact us</a>
            </div>
        </div>
        <div fxLayout="row" *ngIf="orderSuccessful" fxLayoutAlign="center center" class="mt-2 p-1">
            <a [routerLink]="['/']" mat-raised-button color="primary">Return to Shop</a>
        </div>

    </mat-step>
</mat-vertical-stepper>